#cadastro_banner {
	padding: 10px;
}

#cadastro_banner label {
	display: block;
}

#cadastro_banner .titulo {
	border-bottom: #ccc solid 1px;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
}

#cadastro_banner .modulos {
	float: left;
	width: 200px;
}

#cadastro_banner .criar_conta {
	text-indent: -9999px;
	display: block;
	width: 99px;
	height: 28px;
	float: right;
	border: none;
	background: url(../../img/sprite_img.jpg) no-repeat -679px -162px;
	cursor: pointer;
}