.pagination {
	font-size: 80%;
	/*width:350px;*/
}
        
.pagination a {
  text-decoration: none;
	/*border: solid 1px #AAE;*/
	color: #3C557F;
	font-size:14px;
	font-family:Tahoma;
	font-style:normal;
}
.pagination a.ativo {
	color:#DFC400;
}
.pagination a, .pagination span {
  display: block;
  float: left;
  padding: 0.1em 0.1em;
  margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}
.pagination .anterior a img,
.pagination .proxima a img {
	position:relative;
	top:3px;
}

.pagination .current {
  /*background: #26B;*/
  color: #53AD79;
	/*border: solid 1px #AAE;*/
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
